<h4 class="text-center mt-3">All Agreements</h4>
<table class="table table-hover  mt-4 table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Maker</th>
            <th>Model</th>
            <th>Rent Start Date</th>
            <th>Duration(Days)</th>
            <th>Total Cost</th>
            <th class="w-50">Action</th>
            <th class="w-50">Initiated Returns</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let agreement of allRentalAgreements">
            <!-- show only those agreements whose return status is false -->
            <tr>
                <td>{{agreement.userId}}</td>
                <td>{{agreement.maker}}</td>
                <td>{{agreement.model}}</td>
                <td>{{agreement.rentStartDate}}</td>
                <td>{{agreement.duration}} </td>
                <td>{{agreement.totalCost | currency:'INR'}} </td>
                <td>
                    <button class="btn btn-warning" (click)="navigateToUpdate(agreement.id)">Update</button>
                    <button  class="btn btn-danger mx-2 md-2" (click)="deleteAgreement(agreement.id,agreement.carId)" >Delete</button>
                </td>
                <td *ngIf="agreement.returnStatus==1">
                    <button class="btn btn-primary mb-2" (click)="markForInspection(agreement)" [disabled]="isUnderInspection(agreement.carId)==true">Inspection</button>
                    <button class="btn btn-success" (click)="deleteAgreement(agreement.id,agreement.carId)">AcceptReturn</button>
                </td> 
                <td *ngIf="agreement.returnStatus==0">
                    
                </td> 
            </tr>

        </ng-container>
        
    </tbody>
</table>