<h3 class="text-center">Add Car</h3>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group mt-2">
        <label>Maker</label>
        <input [class.is-invalid]="maker.invalid && maker.touched" formControlName="maker" type="text" class="form-control" >
        <div *ngIf="maker.invalid && maker.touched">
            <small *ngIf="maker.errors?.['required']" class="text-danger">Maker name is required</small>
        </div>
    </div>
    <div class="form-group mt-3">
        <label>Model</label>
        <input formControlName="model" [class.is-invalid]="model.invalid && model.touched"  type="text" class="form-control"  required>
        <div *ngIf="model.invalid && model.touched">
            <small *ngIf="model.errors?.['required']" class="text-danger">Model name is required</small>
        </div>
    </div>
    <div class="form-group mt-3">
        <label>Rental Price</label>
        <input formControlName="rentalPrice" [class.is-invalid]="rentalPrice.invalid && rentalPrice.touched" type="text" class="form-control"  required>
        <div *ngIf="rentalPrice.invalid && rentalPrice.touched">
            <small *ngIf="rentalPrice.errors?.['required']" class="text-danger">Rental price is required</small>
        </div>
    </div>
    <div class="form-group mt-3">
        <label>Availability</label>
        <div class="form-check">
          <input formControlName="isAvailable" checked  type="radio" class="form-check-input"  value="true">
          <label class="form-check-label">Available</label>
        </div>
        <div class="form-check">
          <input formControlName="isAvailable"  type="radio" class="form-check-input"  value="false">
          <label class="form-check-label">Not Available</label>
        </div>
    </div>

    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary mt-3">
        Add
    </button>
  
</form>