<h3 class="text-center">Rental Agreement</h3>
<div class="card mt-5">
    <div class="card-body d-flex justify-content-center align-items-center">
        <div class="">
            <h4  class="card-title bold">Name:<span style="color:blue">{{rentalAgreement.userId}}</span> </h4>
            <h4 class="card-text">Maker: <span style="color:blue">{{car.maker}}</span> </h4>
            <h4 class="card-text">Model: <span style="color:blue">{{car.model}}</span> </h4>
            <h4 class="card-text">Price per day: <span style="color:blue">{{car.rentalPrice | currency: 'INR'}}</span></h4>
            <h4 class="card-text">Duration:<span style="color:blue">{{rentalAgreement.duration}} Days </span> </h4>
            <h4 class="card-text">Rent Start Date:<span style="color:blue">{{rentalAgreement.rentStartDate}}  </span> </h4>
            <h4 class="card-text">Total Cost: <span style="color:#3deb34">{{rentalAgreement.totalCost | currency: 'INR'}}</span> </h4>
        </div>
    </div>
  </div>
  <div class="text-center container col-6 mt-3">
    <button class="btn btn-success" (click)="accept()">Accept</button>
    <button class="btn btn-warning" style="margin-left: 10px;" (click)="edit()">Edit</button>
  </div>


